@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.feature {
    @include max-width;
    display: flex;
    width: 100%;
    padding: 0 14.4rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    height: 20rem;
    margin-top: 10rem;

    .text {
        margin-left: 10rem;
        display: flex;
        width: 60rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.2rem;
        flex-shrink: 0;
    }
    
}